<%= stylesheet_link_tag :application %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <nav class="navbar">
    <div class="container">
      <%= link_to 'ThreadVerse', root_path, class: "navbar-brand"%>
      <div class="search-box" style="font-size: 24px;">
        <input class="search-input" type="text" oninput="this.setAttribute('value',this.value)">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
      </div>
      <% if @user %>
        <%= button_to "Log Out", logout_path, class: "logout-button", method: :delete %>
      <% else %>
        <%= link_to 'Log In', log_in_path, class: "login-button" %>
      <% end %>
    </div>
  </nav>
</header>