<%= javascript_include_tag "contacts.js" %>

<div class="contact-container">
  <div class="collapse-uncollapse"><a id="collapse-uncollapse" onclick="collapse()">▼</a></div>
  <div id="contacts-info">
    <ul id="contact-list" class="contact-list">
      <div>Contact</div>
      <% Current.user.followers.each do |contact| %>
        <li>
          <%= contact.username %>
        </li>
      <% end %>
    </ul>
    <div class="add-contact"><%= link_to "Add Contact", contacts_path, class: "add-contacts-link" %></div>
    <div>
      <input class="search-contact" type="text" oninput="this.setAttribute('value',this.value)" placeholder="Search for a contact...">
    </div>
  </div>
  <div id="Contacts">Contacts</div>
</div>