/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --Background: #121212;
    --Foreground: #FFFFFF;
    --Primary-Text: #E0E0E0;
    --Secondary-Text: #A0A0A0;
    --Accent-1: #FFBF00;
    --Accent-2: #443067;
    --Accent-3: #52502D;
    --Link: #9FA8DA;
    --Hover: #333333;
    --Border: #707070;
}

body {
    background-color: var(--Background);
    color: var(--Primary-Text);
    font-family: monospace;
}
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    border-radius: 0.2em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
    border-radius: 0.2em;
    background-color: var(--Accent-1);
    outline: 1px solid var(--Hover);
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
.alert-info .alert-link {
    color: #04414d;
}
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.alert-warning .alert-link {
    color: #523e02;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1em solid var(--Border);
    overflow: hidden;
}
.navbar-brand {
    float: left;
    font-size: 2.5em;
    margin-inline-start: 0.25rem;
    color: var(--Primary-Text);
    text-decoration: none;
}
.navbar-brand:hover{
    color: var(--Primary-Text);
}

.dropdown-toggle {
    white-space: nowrap;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
    margin-left: 0;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
}
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search-input {
    display: inline;
    width: 20rem;
    border-radius: 2em;
    border: none;
    font-size: 1.1em;
    background-color: #222222;
    color: var(--Secondary-Text);
    padding: 0.5em;
    padding-inline-start: 1em;
    padding-inline-end: 2em;
}
.search-button {
    display: inline;
    float: none;
    background: none;
    border: none;
    color: var(--Primary-Text);
    cursor: pointer;
}
.search-button:focus {
    color: var(--Secondary-Text);
}
.search-icon {
    display: inline;
    margin-inline-start: -5em;
}

.login-button, .logout-button {
    float: right;
    padding: 10px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--Background);
    border-radius: 2em;
    border: none;
    font-weight: 800;
    box-shadow: 0px 0px 14px -9px var(--Accent-1);
    background-image: linear-gradient(45deg, #FF8F00 0%, var(--Accent-1)  51%, #FF8F00  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}
.login-button:hover, .logout-button:hover {
    background-position: right center;
    text-decoration: none;
}
.login-button:active, .logout-button {
    transform: scale(0.95);
}
.logout-button {
    box-shadow: 0px 0px 14px -9px var(--Accent-2);
    background-image: linear-gradient(45deg, #553066 0%, var(--Accent-2)  51%, #553066 100%);
    margin-top: -3em;
}

.container-fluid, .navbar, .navbar-expand-sm{
    overflow: visible;
    z-index: 9999;
}
.dropdown-menu {
    border-radius: 0.8em;
    background-color: var(--Accent-1);
}
.dropdown-item:hover {
    background-color: var(--Hover);
    color: var(--Primary-Text);
}
.user-info {
    margin-right: 2.5em;
}

.messages-float{
    left: 1em;
    border: 0px none;
    height: 50%;
    position: fixed;
    width: 30%;
    overflow: hidden;
    bottom: 1em;
    z-index: 99000;
    border-top: 2px solid var(--Accent-1);
    border-bottom: 2px solid var(--Accent-1);
    border-radius: 1em;
}