/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --Background: #121212;
    --Foreground: #FFFFFF;
    --Primary-Text: #E0E0E0;
    --Secondary-Text: #A0A0A0;
    --Accent-1: #FFBF00;
    --Accent-2: #443067;
    --Accent-3: #52502D;
    --Link: #9FA8DA;
    --Hover: #333333;
    --Border: #707070;
}

body {
    background-color: var(--Background);
    color: var(--Primary-Text);
    font-family: monospace;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1em solid var(--Border);
    overflow: hidden;
}

.navbar-brand {
    font-size: 2.5em;
    margin-inline-start: 0.25em;
    color: var(--Primary-Text);
    text-decoration: none;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -1.7em;
    margin-bottom: 0.2em;
}

.search-input {
    display: inline;
    border-radius: 1em;
    border: none;
    font-size: 0.8em;
    background-color: #222222;
    color: var(--Secondary-Text);
    padding: 0.4em;
    padding-inline-start: 1em;
}

.search-button {
    display: inline;
    float: none;
    margin-inline-start: -2.8em;
    background: none;
    border: none;
    color: var(--Primary-Text);
    cursor: pointer;
}

.search-button:focus {
    color: var(--Secondary-Text);
}

.login-button, .logout-button {
    float: right;
    display: inline-flex;
    margin-top: -2.7em;
    margin-inline-end: 1em;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--Background);
    border-radius: 2em;
    border: none;
    font-weight: 800;
    box-shadow: 0px 0px 14px -9px var(--Accent-1);
    background-image: linear-gradient(45deg, #FF8F00 0%, var(--Accent-1)  51%, #FF8F00  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}
.login-button:hover, .logout-button:hover {
    background-position: right center;
    text-decoration: none;
}
.login-button:active, .logout-button {
    transform: scale(0.95);
}
.logout-button {
    box-shadow: 0px 0px 14px -9px var(--Accent-2);
    background-image: linear-gradient(45deg, #553066 0%, var(--Accent-2)  51%, #553066 100%);
    margin-top: -3em;
}