@import "application.css";
@import "contacts.css";

.go-to-home {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 1em;
    margin-bottom: 1em;
}

.contact-and-room-list {
    padding-inline: 1.5em;
    padding-top: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contact-and-room-list::-webkit-scrollbar {
    width: 0.5em;
}
.contact-and-room-list::-webkit-scrollbar-track {
    border-radius: 0.2em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.contact-and-room-list::-webkit-scrollbar-thumb {
    border-radius: 0.2em;
    background-color: var(--Accent-1);
    outline: 1px solid var(--Hover);
}
.contact-list-room {
    background-color: transparent;
    box-shadow: 0 0 0;
    border: 0;
}
.contact-list-room li, .room-list-li {
    padding: 0.75em 0.5em;
}
.room-list-li {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none;
}
.room-list-li:hover {
    background-color: var(--Accent-1);
    color: black;
}

.room-title {
    position: absolute;
    top: 0;
    /* width: 90%; */
    width: 100%;
    background-color: #212529;
    /* margin-left: -0.7em; */
    border-bottom: 1px solid var(--Background);
    /* padding-right: 6em; */
    padding-top: 0.5em;
}

.message-form {
    position: absolute;
    bottom: 0;
    /* width: 90%; */
    width: 100%;
    background-color: #212529;
    /* margin-left: -0.7em; */
    padding-top: 1em;
    /* padding-right: 6em; */
    padding-right: 1em;
    padding-left: 1em;
    border-top: 1px solid var(--Background);
}
.send-button{
    margin-bottom: 1em;
    font-weight: 1000;
    font-size: 1.25em;
}

.message-room {
    height: 100vh;
    padding-top: 4em;
    padding-bottom: 32em;
    -ms-overflow-x: hidden;
    -ms-overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
.message-room::-webkit-scrollbar {
    width: 0.5em;
}
.message-room::-webkit-scrollbar-track {
    border-radius: 0.2em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.message-room::-webkit-scrollbar-thumb {
    border-radius: 0.2em;
    background-color: var(--Accent-1);
    outline: 1px solid var(--Hover);
}

.new-room-form {
    position: relative;
    width: auto;
}
.new-room-input {
    position: absolute;
    float: left;
    width: 100%;
    background-color: var(--Hover);
}
.create-room-button-div {
    margin-top: 3em;
}

.message-content {
    width: 80%;
    margin-right: 5px;
    margin-top: 0.7em;
}
.message-box {
    width: fit-content;
    max-width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--Border);
}

.add-user-form {
    display: inline;
}
.add-user-button {
    border: none;
}